version: '2'

services:
    web:
        image: nginx
        ports:
            - "81:81"
        volumes:
            - ./src:/src
            - ./site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - code-network
    php:
        image: php:fpm
        volumes:
            - ./src:/src
        networks:
            - code-network

networks:
    code-network:
        driver: bridge