:root {
	/*Defining colors*/
	--blue: #A3CEF1;
	--red: #F9B9C3;
	--green: #C1D7C1;
	--purple: #CBB2E6;
	--black: #0D1321;
	--white: #FEF6EC;
	
	/*--logo-div-width: 100%;
	--logo-img-width: 25vw;*/
}

@font-face {
	font-family: "American Typewriter";
	src: local("American Typewriter"), url("American Typewriter Regular.ttf");
}

html,
body {
    background: var(--green);
	height: 100%;
}

.everything{
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--black);
	font-family: "American Typewriter";
	display: flex;
	justify-content: center;
}

p {
	color: var(--black);
	font-family: "American Typewriter";
	display: flex;
	justify-content: center;
}

.image {
	display: flex;
	justify-content: center;
	
}

.options {
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	justify-content: center;
	font-family: "American Typewriter";
}